html {
  background: transparent;
}

body {
  padding: 50px;
  background: #f8f8f8;
}


/* global */
.container {
  width: 400px;
  margin: 0 auto;
}


/* heading */
.page-heading .page-title {
  margin: 0;
  font-size: 24px;
}


/* form */
.form {
  background-color: white;
  border: 1px solid black;
  margin-top: 50px;
  padding: 20px 10px;
}

.form-row {
  display: block;
  margin: 20px 0;
}

.form-row:first-of-type {
  margin: 0 0 20px 0;
}

.form-row label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="number"] {
  border: 1px solid black;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  padding: 0 10px;
}

.form-row input[type="number"] {
  width: 100px;
}

.form-row input[type="text"] {
  width: calc(100% - 20px);
}

.form-row input[type="checkbox"] {
  cursor: pointer;
}

.form-row-cb label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
}

.form-row-cb:focus-within {
  box-shadow: 0 0 0 2pt white, 0 0 0 4pt #3755ce;
  outline: 0;
}
.form-row-cb:focus-within::-moz-focus-inner {
  border: 0;
}

fieldset {
  padding: 20px 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

fieldset .form-row-cb:last-of-type {
  margin-bottom: 0;
}

fieldset legend {
  font-size: 14px;
  font-weight: bold;
}


/* invalid form */
.error-message {
  background-color: #FDF2F3;
  color: #cc0000;
  display: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  margin: 5px 0;
  padding: 5px;
}

.form[data-dirty="true"][data-valid-version="false"] .version-error-message,
.form[data-dirty="true"][data-valid-checkboxes="false"] .action-error-message {
  display: block;
}

.form[data-dirty="true"][data-valid-version="false"] input {
  color: #cc0000;
  border-color: #cc0000;
  background-color: #FDF2F3;
}

.form[data-dirty="true"][data-valid-checkboxes="false"] fieldset {
  color: #cc0000;
  border-color: #cc0000;
  background-color: #FDF2F3;
}


/* ui */
.submit-btn { 
  width: fit-content;
}

button.btn-tertiary {
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border: 0;

  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1pt;
}

button.btn-tertiary:hover {
  text-decoration: none;
}

button.btn-tertiary:focus-within {
  box-shadow: 0 0 0 2pt white, 0 0 0 4pt #3755ce;
  outline: 0;
}
button.btn-tertiary:focus-within::-moz-focus-inner {
  border: 0;
}


/* output */
.output-container {
  margin-top: 50px;
}

.output-container p {
  background-color: #f7f7f7;
  border: 2px solid lightgrey;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}


/* misc */
.semver-cta {
  margin-top: 40px;
}